body {
    background-image: url("images/bg_home_dark.avif");
    background-size: cover;
    font-family: 'Metamorphous', serif;
    margin:0;
}



.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top:20px;
} 
.menu img {
  width:30px;
  margin:3vh;
}


.greetings {
  color: #7effbc;
  font-size:6rem; /*96px*/
  margin-left: 10vw;
  margin-top: 40vh;
}
.blur {
  max-width: 90vh;
  position: absolute;
  left: 5vw;
  top: 35vh;
  z-index: -1;
}
.tagline {
  color: #7effbc;
  font-size: 1.5rem; /*24px*/
  margin-left: 10vw;
  margin-bottom:60vh;
  margin-top:5vh;
  max-width: 55vw;
}


.title{
  color: #FFF5D3;
  font-size: 3rem;  /*48px*/
}
.descrip{
  color: #FFF5D3;
  font-family: 'Syne Mono', serif;
  font-size: 1.5rem; /*24px*/
}
.role{
  color:#43A9B7;
  font-size: 1rem; /*16px*/
}
.words{
  display: flex;
  max-width: 90vw;
}
.side{
  padding-top: 5vh;
}
.GOLD .side{
  padding-top: 0;
}
.texts{
  margin-left: 3vw;
  margin-right: 3vw;
  padding-top: 10vh;
  max-width: 45vw;
}
.GOLD .texts{
  padding-top: 5vh;
}
.GOLD, .newsletter, .refract{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 10vw;
  padding-right:5vw;
}
.projpics{
  max-width: 40vh;
  display: flex;
}
.GOLD{
  display: block;
}
.pic1{
  max-width: 50vw;
}
.pic2{
  max-width: 33vw;
}




.numbered{
  color:#43A9B7;
  font-family: 'Syne Mono', serif;
  font: size 2rem; /*32px*/
  padding-left: .4vw;
}
.star{
  width:40px;
}



.contact{
  display: flex;
  justify-content: space-between;
  color:#7effbc;
  background-color: black;
  padding:2vh 5vw;
  font-size: 3rem; /*48px*/ 
  gap:2vw;
}
.links{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem; /*16px*/ 
}
.linkedin, .email{
  display: flex;
}
.linkedin img, .email img{
  width: 30px;
  margin-right: 1vw;
}

/* /* all links */
a {
text-decoration: underline;
} */
/* unvisited links */
a:link {
color: blue; /*TODO:change*/
}
/* visited links */
a:visited {
color: purple; /*TODO:change*/
}
