body {
    background-image: url("images/bg_home_dark.avif");
    background-size: cover;
    font-family: 'Metamorphous', serif;
    margin:0;
}

html {
  font-size: 16px; /* Base font size */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Small phones */
@media screen and (max-width: 320px) {
  html {
    font-size: 50%; /* 8px */
  }
}

/* Larger phones */
@media screen and (min-width: 321px) and (max-width: 767px) {
  html {
    font-size: 62.5%; /* 10px */
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 75%; /* 12px */
  }
}

/* Laptops and small desktops */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

/* Large desktops */
@media screen and (min-width: 1440px) {
  html {
    font-size: 100%; /* 16px */
  }
}

/* Optional: Fluid scaling for very large screens */
@media screen and (min-width: 1800px) {
  html {
    font-size: calc(100% + 0.5vw);
  }
}



.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top:0px; /*this code keeps the sticky*/
  padding-top: 3vh;
  padding-bottom: 3vh;
  opacity: 0%;
  background-color: black;
  z-index: 2;
  transition: opacity 0.3s ease;
  pointer-events: none;  /* Make menu unclickable by default */
} 
.menu_buttons{
  display:flex;
  justify-content: space-between;
}
.menu_dark{
  height:clamp(20px, 5vw, 30px);
  margin: 3vh 2vw;
  position: fixed;
  top:0px; /*this code keeps the sticky*/
  z-index: 3;
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.menu_dark{
  left:0
}
.menu_dark:hover {
  transform: scale(1.2);
}
.menuWords{
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-left: 10vw;
  font-size: 1.5rem; /*24px*/
}
.menu a{
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-out;
}
.menu a:hover {
  transform: scale(1.2);
}


.greetings {
  color: #43A9B7;
  font-size:3rem;
  margin-left: 10vw;
  margin-top: 40vh;
  /* text-shadow: 0px 0px 15px #14343E; */
  -webkit-text-stroke: 10px #000;
  paint-order: stroke fill;
}
.greetings2 {
  margin-top: 0vh;
  margin-right: 10vw;
}
.tagline {
  color: #7effbc;
  font-size: 1.5rem; /*24px*/
  margin-left: 10vw;
  margin-top:5vh;
  max-width: 55vw;
  margin-bottom:30vh;
  /* text-shadow: 0px 0px 15px #14343E; */
  -webkit-text-stroke: 5px #000;
  paint-order: stroke fill;

}

.GOLD, .newsletter, .refract{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10vh 10vw;
  gap: 2vw;
}

/* ====== REFRACT STARTS ======= */

/* left side of refract */

.refract {
  font-family: 'Monda', monospace;
}
@media screen and (max-width: 1200px) {
  .refract {
    flex-direction: column;
    align-items: left;
  }
  .refract .leftside {
    max-width: 50vw;
  }
  .newsletter{
    flex-direction: column;
    align-items: left;
  }
  .newsletter .leftside {
    max-width: 50vw;
  }
  .GOLD{
    flex-direction: column;
    align-items: left;
  }
  .GOLD .leftside {
    max-width: 50vw;
  }
}


.leftside{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 30vw;
}
.rightside{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  max-width: 70vw;
}

.refract .leftside .title{
  color:#9F7DFF;
  font-size: 7rem; 
}

.pallette{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: space-between;
}
.swatch{
  height:40px;
  display: block;
  /* Make each swatch expand equally to fill the palette row */
  flex: 1 1 0;
  min-width: 0; /* allows flex children to shrink properly when needed */
}
.slate{
  background-color:#4A5168;
}
.stone{
  background-color:#909ABD;
}
.lightgrey{
  background-color:#AAB3D3;
}
.white{
  background-color:#E4EAFF;
}
.purple{
  background-color:#9F7DFF;
}
.bruise{
  background-color:#8A7CB2;
}

.refract .leftside .subtitle{
  color: #AAB3D3;
}
.refract .leftside .github{
  color: #9F7DFF;
}
.refract .leftside .timeline{
  color: #F4E9E3;
}
.refract .rightside .headline{
  color: #AAB3D3;
}
.og{
  color:#FFFFFF
}
.cloaked{
  color:#9F7DFF;
}
.subtag{
  color:#AAB3D3;
}

.numbered{
  color:#43A9B7;
  font-family: 'Syne Mono', serif;
  font: size 2rem; /*32px*/
  padding-left: .4vw;
}
.star{
  width:40px;
}

.github-link a{
  color:#9F7DFF;
  font-size: 1.5rem;
  text-decoration: none;
}
.github-star{
  width: 25px;
  vertical-align: middle;
}

.leftside a{
  text-decoration: none;
}
.action-button{
  border: none;
  border-radius: 10px;
  padding: 1vh 2vw;
  font-size: 1.5rem; /*24px*/
  cursor: pointer;
  /* width: fit-content; */
  text-align: center;
  transition: background-color 0.3s ease;
}
.refract .action-button{
  background-color: #E4EAFF;
  color: #9F7DFF;
  font-family: 'Monda', monospace;
}
.refract .action-button:hover{
  background-color: #9F7DFF;
  color: #E4EAFF;
}

/* right side content here */

.rightside .headline{
  font-size: 3rem; /*48px*/
  font-weight: bold;
  text-align: right;
}

.picture-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  gap: 1vw;
}
.picture-content img{
  max-width: 100%;
  height: auto;
}


/* ====== INK NEWSLETTER ======= */


.inkpic{
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.newsletter {
  font-family: 'Buenard', serif;
  font-size: 1.2rem; /*24px*/
  color: #F4E9E3;
}
.newsletter .leftside .title{
  color:#F4E9E3;
  font-size: 2rem; 
}
.grey {
  background-color:#4A4E68;
}
.mauve {
  background-color: #9A8C98;
}
.beige {
  background-color: #CAADA7;
}
.peach {
  background-color: #F2E9E4;
}
.blood {
  background-color: #96190C;
}

.newsletter .leftside .subtitle{
  color: #F4E9E3;
}
.newsletter .action-button{
  background-color: #F2E9E4;
  color: #4A4E68;
  font-family: 'Buenard', serif;
}
.newsletter .action-button:hover{
  background-color: #4A4E68;
  color: #F2E9E4;
}

.newsletter .timeline{
  color: #CAADA7;
}
.appmockup{
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* right side content of ink */

.newsletter .rightside .headline{
  font-size: 4rem; /*64px*/
  font-weight: bold;
  text-align: right;
  font-family: 'DM Serif Display', serif;
}
.newsletter .picture-content p{
  font-size: 1.5rem; /*19.2px*/
  padding: 0;
}
.newsletter .picture-content{
  display: flex;
  gap: 1vw;
  width: 100%;
  align-items: flex-start;
}
.main-dashboard, .annotation-mode, .personal-library {
  flex: 1;
}

/* ========= GOLDDD ======== */

/* left side content of gold */

.GOLD {
  font-family: 'Montserrat', serif;
  font-size: 1.2rem; /*24px*/
  color: #F4E9E3;
}
.GOLD .leftside .title{
  color:#5672A1;
  font-size: 4rem; 
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
.GOLD .leftside .title2{
  color:#FED851;
  font-size: 7rem; 
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke: 4px #5672A1;
  font-weight: bold;
  padding: 0;
}
.yellow1 {
  background-color:#CDB242;
}
.yellow2 {
  background-color:#FED851;
}
.yellow3 {
  background-color:#FEE385;
}
.white1 {       
  background-color:#ECE4CB;
}
.white2 {       
  background-color:#EAEDF3;
}
.blue1 {
  background-color:#5672A1;
}
.blue2 {
  background-color:#2C4F89;
}
.blue3 {
  background-color:#21325D;
}

.GOLD .leftside .subtitle{
  color: #CDB242;
}

.GOLD .action-button{
  background-color: #ECE4CB;
  color: #2C4F89;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.GOLD .action-button:hover{
  background-color: #2C4F89;
  color: #ECE4CB;
}

/* right side content of gold */
.GOLD .rightside .headline{
  font-size: 3rem; /*48px*/
  text-align: right;
  color: #AAB3D3
}
.gold-preview{
  width: 100%;
  max-width: 100%;
  height: auto;
}






/* ====== CONTACT ======= */
.contact{
  display: flex;
  justify-content: space-between;
  color: #7effbc;
  background-color: black;
  padding: 2vh 5vw;
  font-size: 3rem; /*48px*/
  gap: 2vw;
  font-family: 'Metamorphous', serif;
  align-items: center;
  letter-spacing: normal;
}
.links{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem; /*16px*/
  white-space: nowrap;
  letter-spacing: normal;
}
.linkedin, .email, .github{
  display: flex;
  align-items: center;
}
.linkedin img, .email img, .github img{
  width: 30px;
  margin-right: 1vw;
}
.email p {
  margin: auto 0;
}

/* Link styles */
.contact a {
  text-decoration: none;
  color: #7effbc;
  transition: all 0.3s ease;
  margin-top: auto;
  margin-bottom: auto;
}

.contact a:hover {
  text-decoration: underline;
  color: #7effbc;
}

/* Specifically target LinkedIn and GitHub links */
.linkedin a:hover, .github a:hover {
  text-decoration: underline;
  color: #7effbc;
}

/* ===== links ====== */

/*all menu links*/
.menu a {
  text-decoration: none;
  }
/* unvisited menu links */
.menu a:link {
  color: #43A9B7; /*TODO:change*/
}
/* visited menu links */
.menu a:visited {
  color: #43A9B7; /*TODO:change*/
}

/*all contact links*/
.contact a {
  text-decoration: none;
  }
/* unvisited contact links */
.contact a:link {
  color: #7effbc; /*TODO:change*/
}
/* visited menu links */
.contact a:visited {
  color: #7effbc; /*TODO:change*/
}
