body {
    background-image: url("images/bg_home_dark.png");
    background-size: cover;
  }

div div.title, div p.descrip{
  color: #FFF5D3;
}
div div.role{
  color:#43A9B7;
}


.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top:20px;
} 
img {
  width:30px; /*TODO: change clamp lol*/
  margin:5vh;
}

.greetings {
  color: #7effbc;
  font-family: 'Metamorphous', serif;
  font-size:96px;
  margin-left: 10vw;
  margin-top: 40vh;
}
.blur{
  width: 900px;
  position:absolute;
  left: 5vw;
  top: 35vh;
}

.tagline {
  color: #7effbc;
  font-family: 'Metamorphous', serif;
  font-size: 24px;
  margin-left:150px;
  width: 950px;
  margin-bottom:500px;
}
.contact{
  display: flex;
  justify-content: space-between;
  color:#7effbc;
  background-color: black;
  padding: ;
}





/* /* all links */
a {
text-decoration: underline;
} */
/* unvisited links */
a:link {
color: blue; /*TODO:change*/
}
/* visited links */
a:visited {
color: purple; /*TODO:change*/
}
