body {
    background-image: url("images/bg_home_dark.png"); /*convert to avif once i figure out how to do it without the picture getting darker*/
    background-size: cover;
    font-family: 'Metamorphous', serif;
    /* background-position: center; */
  }



.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top:20px;
} 
.menu img {
  width:30px;
  margin:3vh;
}


.greetings {
  color: #7effbc;
  font-size:6rem; /*TODO: change clamp lol 96px*/
  margin-left: 10vw;
  margin-top: 40vh;
}
.blur {
  max-width: 90vh;
  position: absolute;
  left: 5vw;
  top: 35vh;
  z-index: -1;
}
.tagline {
  color: #7effbc;
  font-size: 1.5rem; /*24px*/ /*TODO: change clamp lol*/
  margin-left: 10vw;
  margin-bottom:70vh; /*SCUFFED SPACING BRUH*/
  margin-top:5vh;
}


div div.title{
  color: #FFF5D3;
  font-size: 3rem;  /*48px*/ /*TODO: change clamp lol*/
}
div p.descrip{
  color: #FFF5D3;
  font-family: 'Syne Mono', serif;
  font-size: 1.5rem; /*24px*/ /*TODO: change clamp lol*/
}
div div.role{
  color:#43A9B7;
  font-size: 1rem; /*16px*/ /*TODO: change clamp lol*/
}
.side{
  padding-top: 5vh;
}
.texts{
  margin-left: 5vw;
  margin-right: 5vw;
  padding-top: 10vh;
}
.GOLD, .newsletter, .refract{
  display: flex;
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 10vw;
  padding-right:10vw;
}


.numbered{
  color:#43A9B7;
  font-family: 'Syne Mono', serif;
  margin-left:4.2vh;
  font: size 2rem; /*32px*/ /*TODO: change clamp lol*/
}
.star{
  width:40px;
  margin-left:3.5vh;
}



.contact{
  display: flex;
  justify-content: space-between;
  color:#7effbc;
  background-color: black;
  padding:5vw;
  font-size: 4rem; /*64px*/ /*TODO: change clamp lol*/
}
.links{
  display: grid;
  grid-template: 5vh 35vw / 5vh 35vw;
  gap:1vw;
  font-size: 1.5rem; /*24px*/ /*TODO: change clamp lol*/
}

/* /* all links */
a {
text-decoration: underline;
} */
/* unvisited links */
a:link {
color: blue; /*TODO:change*/
}
/* visited links */
a:visited {
color: purple; /*TODO:change*/
}
